div
	label Name:
	input(name='p[name]', value=p.name || '')
div
	label Budget Type:
	input(name='p[budgetType]', value=p.budgetType || '')
div
	label Budget Amount:
	input(name='p[budget]', value=p.budget || '0')
div
	input(type='submit', value="Save")